* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.search-form {
  padding: 7px;
  display: flex;
  width: 100%;
}

.search-form input {
  padding: 10px 20px;
  border: 2px solid #b1b1b1;
  font-family: inherit;
  flex-basis: 80%;
}

.search-form *:focus {
  outline: 2px solid #2980b9;
  outline-offset: 1px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #2980b9;
  border: none;
  color: white;
  border: 2px solid #2980b9;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  flex-basis: 20%;
}

.search-form button:disabled {
  background-color: #041724;
  border-color: #041724;
  opacity: 0.5;
}

.image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-list > li {
  flex-basis: 350px;
}

.image-list li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
